.article-page .article-content .experience {
  display: flex;
    
  .logo {
    width: 5vw;
    height: 5vw;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5%;
    overflow: hidden;
    display: grid;
    place-items: center;
    display: flex;
    align-items: stretch;
  }

  h4 {
    margin-inline-start: initial;
    padding-inline-start: initial;
    border-inline-start: initial;
    margin-top: 0;
  }

  gap: 10px;
  line-height: initial;
}